module howdy_gdm 1.0;

require {
    type v4l_device_t, gdm_t, xdm_t, sddm_t, lightdm_t;
    class chr_file { open read ioctl getattr map };
}

allow gdm_t      v4l_device_t:chr_file { open read ioctl getattr map };
allow xdm_t      v4l_device_t:chr_file { open read ioctl getattr map };
allow sddm_t     v4l_device_t:chr_file { open read ioctl getattr map };
allow lightdm_t  v4l_device_t:chr_file { open read ioctl getattr map };
