(module howdy_gdm 1.0)
(allow xdm_t v4l_device_t (chr_file (open read ioctl getattr map)))
(allow gdm_t v4l_device_t (chr_file (open read ioctl getattr map)))
